{{!-- index.hbs --}}
{{!-- Copyright (c) 2024 Ishan Pranav --}}
{{!-- Licensed under the MIT License. --}}

<p>Oops. Here's the data associated with your session!</p>
<textarea>{{ sessionData }}</textarea>
