{{!-- layout.hbs --}}
{{!-- Copyright (c) 2024 Ishan Pranav --}}
{{!-- Licensed under the MIT License. --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cookied - Ishan Pranav</title>
    <link rel="stylesheet" type="text/css" href="styles/layout.css" />
</head>
<body style="background: linear-gradient({{ favColor }}, white)">
    <nav>
        <a href="/">Session Data</a>
        <span>|</span>
        <a href="/preferences">Preferences</a>
    </nav>
    {{{ body }}}
</body>
</html>
